@font-face {
	font-family: Comfortaa;
	src: url("../font/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}
body{
    font-family: Comfortaa;
}


/*animation*/
.anim{
    width: 70%;
    height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(30px);
	border-radius: 20px;
    border: solid white 5px;
    margin-top:15%;
    margin-left:15%;
    padding: 20px;
}

.lettre{
	color: 	 #0d7777;
	font-size: 80px;
	letter-spacing: 15px;
	animation: flash 1.2s linear infinite;
}

@keyframes flash{
	0%{
		color: #00ffff;
		text-shadow: 0 0 7px #199292;
	}

	90%{
		color: #0d7777;
		text-shadow: none;
	}
	100%{
		color: #00ffff;
		text-shadow: 0 0 7px #199292;
	}
}
.lettre:nth-child(1){
	animation-delay: 0.1s;
}
.lettre:nth-child(2){
	animation-delay: 0.2s;
}
.lettre:nth-child(3){
	animation-delay: 0.3s;
}
.lettre:nth-child(4){
	animation-delay: 0.4s;
}
.lettre:nth-child(5){
	animation-delay: 0.5s;
}
.lettre:nth-child(6){
	animation-delay: 0.6s;
}
.lettre:nth-child(7){
	animation-delay: 0.7s;
}
.lettre:nth-child(8){
	animation-delay: 0.8s;
}
.lettre:nth-child(9){
	animation-delay: 0.9s;
}
.lettre:nth-child(10){
	animation-delay: 1s;
}

.fondu-out{
	opacity: 0;
	transition: opacity 0.4s ease-out;
}
.demande{
	background-color:#0d7777;
	font-size: 40px;
	border-radius: 20px;
    text-align: center;
	border: solid white 4px;
	width: 70%;
	margin: 5% 0 0 15%;
	padding: 20px;

}

.background-video{
	height: 100vh;
	width: 100%;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

@media screen {
	
}