@font-face {
	font-family: Comfortaa;
	src: url("../font/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}
body{
	font-family: Comfortaa;
}
.retour{
	background-color: black;
	color: white;
	width: fit-content;
	height: fit-content;
	border-radius: 10px;
	padding: 10px;
	float: right;
	position: fixed;
	z-index: 1;
  left: 0;
  top: 0;
}
button {
  background-color: red;
  border: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-family: Comfortaa;
  font-size: 20px ;
  position: fixed;
  margin-left: 10px;
  }
button:hover, button:focus, button:active {
    /* swap colors */
    color: red;
    background-color: black;
    cursor: pointer; /* displays a hand */
  }
#background-video{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.Copyright{
  color: white;
  margin: 10px;
  padding: 10px;
  background-color: red;
  position: center;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  float: left;
  opacity: 0.8;
}
.email{
  color: black;
}
.banniere{
  background-color: white;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: slategrey; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #3e3e3e; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid slategrey; /* creates padding around scroll thumb */
}